@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@media (max-width: 1200px) {
  :root {
   
    --Neutral100-background-color: #f6f6f6;
    --Neutral200-secondary-color: #219EBC;
    --Neutral300-border-color: #ddd4ee;
    --Neutral400-text-main: #3C3744;
    --Primary-color: #090C9B;
  }
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--Neutral400-text-main);
    font-size: 18px;
  }

  body {
    background-color: var(--Neutral100-background-color);
    align-items: center;

  }

  .home{
    /* background-image: url(hero-expenseTracker.png); */
    width: 100%;
    height: 100%;
    padding: 3rem 5rem 8rem 5rem;
    flex-direction: column;
    row-gap: 4rem;
    display: flex;
    background-image: url('/images/landingpic2.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .logo-nav {
    width: 8rem;
  }

  .logIn-signUp-button-container {
    display: flex;
    column-gap: 0.5rem;
    padding-bottom: 40px;
  }

  .logIn-navbar {
    background-color: #3066be;
    font-size: 18px;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
    border: 0px;
    color:#ffffff;
  }

  .signUp-navbar {
    background-color: #3066be;
    font-size: 18px;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
    border: 0px;
    color: #ffffff;
  }

  .register-navbar{
    background-color: #090C9B;
    font-size: 18px;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
    border: 0px;
    color: #ffffff;
  }

  .hero-left-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .hero-left-text-main {
    color:#090C9B;
    font-size: 32px;
    font-style: bold;
    width: 48%;

  }

  .hero-left-text-subtext {
    color:#3C3744;
    font-size: 14px;
    width: 30%;
  }

  .hero-button-get-started {
    background-color: #3C3744;
    font-size: 18px;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
    border: 0px;
    padding: 0.5rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    color: #ffffff;
  }

  .why-us {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding: 4rem 8rem 4rem 8rem;
  }

  .why-us-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .why-us-title {
    font-size: 24px;
    font-weight: bold;
    color: #090C9B;
  }

  .why-us-subtext {
    font-size: var(--B2-medium-body-font-size);
    font-weight: var(--B2-medium-body-weight);
    line-height: var(--B2-medium-body-line-height);
  }

  .why-us-inner-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .why-us-inner-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
  }

  .inner-content-image {
    width: 15rem;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .why-us-inner-content-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    width: 19rem;
  }

  .why-us-inner-content-text-title {
    font-size: 18px;
    font-weight: bold;
    color: #090C9B;
  }

  .why-us-inner-content-text-subtext {
    font-size: 14px;
    color: #3C3744;
    line-height: 20px;
  }

  .privacy {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem 4rem 10rem;
    align-items: center;
  }

  .privacy-main-subtext-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .privacy-main-subtext-container > h4 {
    color: #090C9B;
    font-weight: bold;
    font-size: 18px;
  }

  .privacy-main-subtext-container > p {
    color: #3C3744;
    font-weight: bold;
    font-size: 14px;
  }

  .padlock {
    width: 25rem;
  }




footer{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #3C3744;
    padding: 150px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #219EBC;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #219EBC;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #219EBC;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

ol { padding-left: 50px; }
li { 
  color: #4F4F4F; 
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  
  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; 
    left: -46px;
  }
}

strong { color: #292929; }

ol.alternating-colors { 
  li:nth-child(odd):before { border-color: #0BAD02; }
  li:nth-child(even):before { border-color: #2378D5; }
}
