/* General Styles */

body {
	font-family: 'Poppins', sans-serif; /* Using Poppins font */
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
  }
  
  h1 {
	font-size: 24px;
	color: #333;
	padding: 5px;
  }
  
  p {
	font-size: 16px;
	color: #333;
	padding: 5px;
  }
  
  /* Blue Container */
  
  .blue {
	background-color: #f6f6f6;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	
	-webkit-box-shadow: 3px 29px 63px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 	3px 29px 63px 4px rgba(0,0,0,0.1);
	box-shadow: 		3px 29px 63px 4px rgba(0,0,0,0.1);
  }

  /* Location List */
  
  #main {
	list-style: none;
	padding: 0;
  }
  
  li {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px;
	
  }
  
  
  .leftie {
	display: flex;
	align-items: center;
	margin-bottom: 5px; 
  }
  
  .leftie > div > p {
	margin: 0;
	line-height: 1.5
  }

  /* New Styles */

  .book-now {
	margin-left: 10px; /* Adds a left margin to the button */
	padding: 10px, 20px ; /* Adds padding to the button */
	background-color: #333; 
	border: none;
	margin-top: 20vh, 0;
	color: white;
	font-size: 16px;
	border-radius: 10px; /* Adds a slight border radius */
	cursor: pointer; /* Indicates that the button is clickable */
  }

  .book-now:hover {
	opacity: 0.8; /* Changes the opacity on hover */
  }

  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .menu-btn {
	cursor: pointer; 
  }
  
  #sortingDD {
	display: none;
	align-items: center;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
  }
  
  #sortingDD a:hover {
	background-color: #f1f1f1;
  }
  
  .dropdown:hover #sortingDD {
	display: block;
  }

  .menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 3rem;
  }


  li > div {
	width: 10vw;
	width: fit-content;
  }

  