/* locations.css */

/* General Styles */

body {
	font-family: 'Poppins', sans-serif; /* Using Poppins font */
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
  }
  
  h1,
  h4,
  p {
	margin: 0;
  }
  
  h1 {
	font-size: 24px;
	color: #333;
	padding: 20px;
  }
  
  p {
	font-size: 16px;
	color: #333;
	padding: 10px;
  }
  
  /* Blue Container */
  
  .blue {
	background-color: #f6f6f6;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	
	-webkit-box-shadow: 3px 29px 63px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 	3px 29px 63px 4px rgba(0,0,0,0.1);
	box-shadow: 		3px 29px 63px 4px rgba(0,0,0,0.1);
  }
  
  /* Sorting Dropdown */
  
  #sorting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }
  
  #sortingDD {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {
	background-color: #f1f1f1;
  }
  
  #sortingDD:hover .dropdown-content {
	display: block;
  }
  
  /* Location List */
  
  #main {
	list-style: none;
	padding: 0;
  }
  
  li {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
  }
  
  .leftie {
	display: flex;
	align-items: center;
  }
  
  .leftie p {
	margin: 0 10px;
  }

  
  .price {
	font-weight: bold;
  }
  