
body {
    background-color: blue;
  }
  
  .container {
    height: 100vh;
    display: flex;
  }
  
  .side-image {
    height: 100%;
    width: 25%;
  }
  
  .right-container {
    padding: 4rem 5rem 0 5rem;
  }
  
  .sign-up-container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    /* overflow-y: hidden; */
    height: 35rem;
    width: 90%;
  }
  
  .sign-up-container-back-button-and-title {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .back-button {
    width: 2rem;
  }
  
  .sign-up-title {
    font-size: var(--D1-large-display-font-size);
    font-weight: var(--D1-large-display-weight);
    line-height: var(--D1-large-display-line-height);
  }
  
  .sign-up-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .detail {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
  }
  
  .label {
    font-size: var(--B3-small-body-font-size);
  }
  
  .input {
    height: 2.75rem;
    border: 1px solid var(--Neutral300-border-color);
    /* outline: none; */
    border-radius: 0.5rem;
    padding: 0 1rem;
  }
  
  /* Remove outline on focus for all input elements */
  .input:focus {
    outline: none;
  }
  
  .sign-up-login-button {
    background-color: var(--Primary-color);
    color: var(--Neutral100-background-color);
    font-size: var(--B2-medium-body-font-size);
    font-weight: var(--B2-medium-body-weight);
    line-height: var(--B2-medium-body-line-height);
    padding: 1rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    /* overflow-y: hidden; */
    height: 36rem;
    width: 90%;
  }
  
  .login-container-back-button-and-title {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .login-title {
    font-size: var(--D1-large-display-font-size);
    font-weight: var(--D1-large-display-weight);
    line-height: var(--D1-large-display-line-height);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .button-and-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .texts {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .main-text {
    font-size: var(--B3-small-body-font-size);
    font-weight: var(--B3-small-body-weight);
    line-height: var(--B3-small-body-line-height);
  }
  
  .sub-text {
    font-size: var(--B2-medium-body-font-size);
    font-weight: var(--B2-medium-body-weight);
    line-height: var(--B2-medium-body-line-height);
    text-decoration: underline;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--Neutral400-text-main);
  }
  
  @media (min-width: 1401px) and (max-width: 3000px) {
    * {
      font-size: 0.7vw;
    }
  }
  
  @media (min-width: 365px) and (max-width: 1400px) {
    * {
      font-size: 0.75vw;
    }
  }
  
  