extends layout

block style
  link(rel="stylesheet", href="/stylesheets/delete_booking.css")

block content
  h1= title
    .container
      form(method='POST')
        div
          p Are you sure you want to delete this booking:
          br

        .buttons
          button(type="submit" id='submit') Yes
          button(type="button" id="close" )
            a(href='/bookings') No