- let variable2 = variable1

doctype html
html
  head
    title= title
    meta(chartset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./images/favicon1.png", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block style
    
    
  body
    div.header
      a(href='/home')
        img(src="/images/logo.png" alt="expense tracker logo" id='logo')
      
      .left
        .button
          a(href="/locations/create" class="signUp-navbar-text") 
            button(type="button" class="register-navbar") Register your parking
      
        div.dd-container
          img(src="/images/userIcon.png" id='profile')
          div.drop-down
            a(href='/landing_page') Landing Page
            if user == 'admin'
              a(href='/users') Users
            a(href='/auth/login') Switch User
            a(href='/auth/logout') Log Out
    
    div.nav
      a(href='/home' class='nav-home')
        div.home
          img(src='/images/homeicon.png')
          p Home
      
      a(href='/locations' class='nav-location')
        div.locations
          img(src='/images/locationIcon.png')
          p Locations

      a(href='/bookings' class='nav-bookings')
        div.bookings
          img(src='/images/bookingsIcon.png')
          p Bookings

    div.content
      block content