extends layout
block content 
  link(rel="stylesheet", href="./stylesheets/locations.css")

  body
    h1 Available Parking
    p Nearby parking

    if locations
      // Location List
      div.blue
        // Sorting
        div#sorting
          p ...
          div#sortingDD
            div.charging
              h4 Charging 
              p#chargingAsc.sort-option Ascending
              p#chargingDesc.sort-option Descending
            div.distance
              h4 Distance
              p#distanceAsc.sort-option Ascending
              p#distanceDesc.sort-option Descending
            div.price
              h4 Price
              p#priceAsc.sort-option Ascending
              p#priceDesc.sort-option Descending

        
        ul#main
          each location in locations
            li
              div.leftie
                div
                  p.name= location.name
                  p.address= location.address
                  p.availability= location.availability + ' | ' + img(src="/images/charging.png", alt="Charging Station") + ' ' + location.amenities

    else
      p There are no locations available.