extends layout2

block content
  link(rel="stylesheet", href="/stylesheets/new_booking.css")

  body
    div.formbold-main-wrapper
      div.formbold-form-wrapper
        img.image(src="/images/image2.jpg", alt="Image")
        form(action="/bookings/booking" method="POST")
          div.flex.flex-wrap.formbold--mx-3

            if location.parking_space_id === itemId
              div.booking-details
                p.name= location.name
                p.address= location.address
            else
              p There is no location available with this ID.
              
          div.flex.flex-wrap.formbold--mx-3
            div.w-full.sm-w-half.formbold-px-3
              div.formbold-mb-5.w-full
                label.formbold-form-label From
                input.formbold-form-input(type="date" name="date" id="date")
            
            div.w-full.sm-w-half.formbold-px-3
              div.formbold-mb-5.w-full
                label.formbold-form-label To
                input.formbold-form-input(type="date" name="date" id="date")
            
             
          div.flex.flex-wrap.formbold--mx-3
            div.w-full.sm-w-half.formbold-px-3
              div.formbold-mb-5
                label.formbold-form-label From
                input.formbold-form-input(type="time" name="time" id="time")
            
            div.w-full.sm-w-half.formbold-px-3
              div.formbold-mb-5
                label.formbold-form-label To
                input.formbold-form-input(type="time" name="time" id="time")
          
          div.flex.formbold-mb-5
            div.flex
              p.charging Need charging? 
              input.formbold-radio(type="radio" name="radio1" id="radioButton1")
              label.formbold-radio-label(for="radioButton1") Yes
            div.flex
              input.formbold-radio(type="radio" name="radio1" id="radioButton2")
              label.formbold-radio-label(for="radioButton2") No
          div
            button.formbold-btn Submit