doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/signup.css")
    title SignUp
  
  body
    form(action='/set-password' method='POST')
      .formbold-main-wrapper
      a(href="/landing_page")
        img(src="/images/arrow-up-circle.png" alt="expenseTracker-back-button" class="back-button")

      .formbold-form-wrapper
        img(src="/images/house.jpg" alt="header-image" class="head-image")

        .formbold-form-title
          h2 Get Started Now
          p Sign in and say goodbye to the stress of finding parking

        form(method="POST" class="login-form")
          .formbold-input-flex
            div
              label(for="firstname" class="formbold-form-label") First name
              input(type="text" name="first_name" id="firstname" class="formbold-form-input")
            div
              label(for="lastname" class="formbold-form-label") Last name
              input(type="text" name="last_name" id="lastname" class="formbold-form-input" required)
          .formbold-input-flex
            div
              label(for="email" class="formbold-form-label") Email
              input(type="email" name="email" id="email" class="formbold-form-input" required)
            div
              label(for="phone" class="formbold-form-label") Phone number
              input(type="text" name="phone_number" id="phone" class="formbold-form-input" required)
          
          .formbold-input-flex
            div
              label(for="password" class="label") Password
              input(type="password" name="password" id="Password" class="formbold-form-input" required)
              
          
          .formbold-btn
            a(href="/home" class="hero-button-get-started-text")
              button(type="submit" class='sign-up-login-button') Sign In

          .texts
            p.main-text Already have an account?
            a(href="/auth/login")
              p.sub-text Log In